body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(211, 227, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:rgb(149, 175, 197)
}

a:visited {
  color: rgb(149, 175, 197);
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LOGIN FORM STYLES */

.login-form > button {
  width: 100%;
  margin-top: 1em;
}

.login-submit {
  width: 100%;
  margin-top: 1em;
}

/* GENERAL FORM STYLES */

form > input {
  border: 1px solid black;
  height: 30px;
}

/* POST FORM STYLES */

.post-form-middle-row {
  display: flex;
  justify-content: space-between; 
}

.post-form > input[name="title"] {
  width: 100%;
}

/* HEADER STYLES */

header {
  height: 10em;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

header > img {
  height: 100%;
  border-radius: 100%;
}

.logo-right {
  float: right;
}

header > h1 {
  display: flex;
  align-items: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(186, 197, 206);
  font-style: italic;
  text-decoration: underline;
  font-size: 3em;
}


/* NAVBAR STYLES */

.nav-bar{
  position: fixed;
  background: white;
  width: 15%;
  height: 20%;
  display: flex;
  justify-content: center;
}


/* POST CARD STYLES */
.post-cards-container {
  width: 50%;
}

.post-card {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  border: 1px solid rgb(149, 175, 197);
  margin-bottom: 10px;
  background-color: white;
  border-radius: 1.5%;
  width: 100%
}

.post-card-likes{
  background-color: rgb(186, 197, 206);
  border-radius: 1.5%;
  margin-right: 5px;
}

.post-card-likes-content {
  margin-top: 5px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card-likes-top > button {
  margin-left: 5px;
}

.post-card-likes-top > p {
  margin: 2px;
}

.post-card-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-card-main > p {
  width: 80%;
}

.post-card-update {
  width: 40px;
}

.post-card-update > button {
  width: 100%;
  font-size: 10px;
}

.post-card-update > a > button {
  width: 100%;
  font-size: 10px;
  
}

.post-card-header {
  width: 75%
}

.media-container {
  width: 95%;
  display: flex;
  justify-content: center;
}

.media-container > iframe {
  width: 100%;
  max-width: 600px;
}

.media-container > img {
  max-width: 100%;
  min-width: 100%;
}

/* COMMENT SECTION STYLES */

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-cards-container {
  width: 100%;
}

.comment-card {
  background-color: white;
  border: 1px solid rgb(149, 175, 197);
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 3%;
}

.comment-buttons {
  text-align: center;
}

/* MISCELLANEOUS */

.no-user-posts {
  background-color: white;
  overflow: auto;
  display: flex;
  align-items: center;
  height: 6em;
  padding: 0px 20px;
  border-radius: 1.5%;
  border: 1px solid rgb(149, 175, 197);
}



